.home {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  
    .background {
      position: relative;
    }
  
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
  
    .display {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-top: 20px;
      text-align: center;
      color: #0d72bff8;
  
      .country-card {
        background-color: white;
        border: 2px solid #0d72bff8;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
        h2 {
          font-size: 1.2em;
          color: #003366;
          margin-bottom: 10px;
          text-align: center;
        }
  
        img {
          width: 80%;
          height: auto;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 1em;
          color: #333;
          margin: 5px 0;
        }
  
        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 20px;
          
  
          button {
            width: 200px;
            height: 40px;
            background: #0d72bff8;
            border: 0;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            color: white;
            
  
            &:hover {
              background: #0056a6;
            }
          }
        }
      }
    }
  
    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
  
      input {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 16px;
        color: #0d72bff8;
  
        &::placeholder {
          color: #0d72bff8;
        }
      }
  
      button {
        width: 60px;
        height: 40px;
        background: #0d72bff8;
        border: 0;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
        color: white;
  
        &:hover {
          background: #0056a6;
        }
      }
    }
  
    @media (max-width: 992px) {
      .display {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  
    @media (max-width: 576px) {
      .display {
        grid-template-columns: 1fr;
      }
  
      .country-card {
        h2 {
          font-size: 1em;
        }
  
        img {
          width: 60%;
        }
  
        .button {
          button {
            width: 100%;
            height: 40px;
          }
        }
      }
  
      .search-container {
        flex-direction: column;
  
        input {
          width: 100%;
          margin-bottom: 10px;
        }
  
        button {
          width: 100%;
        }
      }
    }
  }
  