.main {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;

  h1 {
    color: #444;
    font-size: 2em;
    margin-bottom: 20px;
  }

  .country-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    img {
      width: 30%;
      border-radius: 10px;
      margin-left: 20px;
    }

    p, h2 {
      margin-right: 20px;
    }

    p {
      color: #666;
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 10px;
    }

    h2 {
      color: #444;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }

  .map {
    margin-top: 20px;

    iframe {
      width: 100%;
      height: 450px;
      border-radius: 10px;
      border: none;
    }
  }

  // Media query pour les écrans jusqu'à 600px de large
  @media (max-width: 600px) {
    .country-container {
      flex-direction: column; // Les éléments sont empilés verticalement
      align-items: flex-start; // Alignement à gauche
  
      img {
        width: 100%; // L'image prend toute la largeur
        margin-left: 0; // Pas de marge à gauche
        order: 1; // L'image est déplacée vers la fin
      }
  
      p, h2 {
        margin-right: 0; // Pas de marge à droite
        text-align: center; // Centrer le texte

      }
    }
  
    .map {
      iframe {
        height: 300px; // Réduction de la hauteur de la carte
      }
    }
  }
}